[submodule "alphacmakefiles"]
	path = alphacmakefiles
	url = https://github.com/AlphaGenes/alphacmakefiles.git
[submodule "alphahouse"]
	path = alphahouse
	url = https://github.com/AlphaGenes/alphahouse.git
